{%extends 'base.html'%}


{% block content%}
{% if not request.user.is_authenticated %}
    <form method="POST" action="">
        {%csrf_token%}
     

        {{form.as_p}}
        <!-- {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
        {%endif%} -->
        <input type="submit">
    </form>

    <p>Need an account <a href="{% url 'accounts:register' %}?next={{request.GET.next}}">Register</a></p>

{% else %}
    <h1>Already logged in </h1>
    <a href="{% url 'accounts:logout' %}">Logout here</a>
{%endif%}
{% endblock content%}

