{%extends 'base.html'%} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 mt-5 order-2 order-md-1">
        {% if request.user == profile.user %}

            <h1>Your articles</h1>
        {%else%}
            <h1 class="text-capitalize">{{profile.user.username}} articles</h1>
        {%endif%}

           {% for article in profile.get_articles %}
                {% include 'article_preview.html'%} 
        {%endfor%} 



    </div>
    <div class="col-sm-4 mt-5 d-flex  flex-column  align-items-center order-md-2 order-1">
        <img class="rounded-circle img-fluid d-block mb-3 profile-img" src="{{profile.img.url}}"/>

        {% if request.user == profile.user %}
      <a class="btn btn-primary col-6 mb-3" href="{% url 'accounts:profile_update' user.profile.id %}"><i class="fa-solid fa-pen"></i> Update profile</a>
      <a class="btn btn-info col-6 mb-3" href="{% url 'accounts:password_change' user.profile.id %}"><i class="fa-solid fa-lock"></i> Change Password</a>
      {%endif%}
    </div>
  </div>
</div>
{% endblock content %}
