{%extends 'base.html'%} {% block content%}
<div class="container">
  <div class="row align-items-center justify-content-center h-full">
    <div class="col-md-6 bg-light p-3 shadow-sm mb-1">
      <h1 class="h3 mb-3">Update profile</h1>
      <form method="POST" , action="" enctype="multipart/form-data">
        {%csrf_token%} {{user_form}} {{profile_form}} {% if request.GET.next %}
        {%endif%}
        <input type="submit" class="btn btn-lg btn-primary col-12" />
      </form>
    </div>
  </div>
</div>
{% endblock content%}
