{%extends 'base.html'%}


{% block content%}
{% if not user.is_authenticated %}
<form method="POST", action="" enctype="multipart/form-data">
    {%csrf_token%}
    {{form}}
    {{profile_form}}
    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
        {%endif%}
    <input type="submit" label="sign up">
    <p>Already have an account <a href="{% url 'accounts:login' %}">Sign in</a></p>
</form>
{%else%}
    <h4>Already logged in</h4>
{%endif%}
{% endblock content%}

