{%extends 'base.html'%} {% block content %} 
{% if request.user.is_authenticated%}
<div class="container">
  <div class="row">
    <h1 class="display-6 my-2">Add new category</h1>
    <div class="col-md-6 bg-light p-3 shadow-sm mb-1">
      <form action="" , method="Post"  >
        {%csrf_token%} {{form}} 


        <input type="submit" class="btn btn-primary" />
        <input type="reset" class="btn btn-secondary" />
      </form>
    </div>
  </div>
</div>


{%endif%} {% endblock content %}
