
      .paginator{
        font-size: small;
        text-indent: 10px;
        padding: 3px;
        margin: 3px;
      }

    .like:hover{
      background-color: rgb(238, 238, 247);
      color: rgb(7, 11, 96);
      border: #09092e 2px solid;
      border-radius: 20%;
    }
    
    .like{
      background-color: rgb(30, 30, 231);
      color: white;
      border: #28282a 1px solid;
      border-radius: 20%;
    }

      img{
        width: 125px;
        height: 125px;
        border-radius: 50%;
      }


    .nav {
        color: aliceblue;
        font-size: larger;
        padding: 10px 10px 5px 5px;
        font-style: normal;
      }

      a {
        color: aliceblue;
        font-size: larger;
        text-decoration: none;
      }

      a:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 248, 248);
        /* font-size: x-large; */
      }

      button > a{
        color: rgb(31, 29, 62);
      }
      
      button > a:hover{
        color: black;
        background-color: rgb(255, 248, 248);
      }
      
      button:hover{
        color: black;
        cursor: grab;
        
        
      }

      .navb{
          background-color: rgba(47, 57, 79, 0.359);
          lighting-color: antiquewhite;
          width: max;
          height: 50px;
          border-bottom: 2px solid;
          /* align-items: center; */
          text-align: center;
          /* margin-inline: 0%; */
      }
      button{
        color: black;
        font-size: medium;
        
      }
      

      body {
        padding: 0%;
        /* margin-block: 0; */
        /* margin-inline: 0; */
        background-color:#28282a;
        color: white;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        align-content: center;
        align-self: center;
        /* text-align: center; */
      }

      .child {
          margin-left:20px;
          object-position: center;
      }

      .h {
          padding-right:10px;
          font-size: x-large;
      }

      